<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="page-navigator" th:fragment="pageNav(pageInfo, prevText, nextText, prefix,nums)">
    <th:block th:if="${pageInfo.hasPrevious()}">
        <li class="prev"><a th:href="@{'/'+${prefix}+'/'+${pageInfo.previousPageable().getPageNumber()}}" th:text="${prevText}"></a></li>
    </th:block>


    <th:block th:each="navIndex :${ nums}">
        <li th:class="${pageInfo.getNumber()+1==navIndex}?'current':''">
            <a th:href="@{'/page/'+${navIndex}}" th:text="${navIndex}"></a>
        </li>
    </th:block>


    <th:block th:if="${pageInfo.hasNext()}">
        <li class="next"><a th:href="@{'/'+${prefix}+'/'+${pageInfo.nextPageable().getPageNumber()}}" th:text="${nextText}"></a></li>
    </th:block>

</ol>

<div th:fragment="pageAdminNav(pageInfo)">
    <div class="clearfix">
        <ul class="pagination m-b-5 pull-right">
            <li th:if="${pageInfo.hasPrevious()}">
                <a th:href="@{page=${pageInfo.previousPageable().getPageNumber()}}" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a>
            </li>

            <th:block th:each="nav : ${pageInfo.getTotalPages()}">
                <li th:class="${nav==pageInfo.getNumber()}?'active':''"><a th:href="@{'?page='+${nav}}" th:text="${nav}"></a>
                </li>
            </th:block>

            <th:block th:if="${pageInfo.hasNext()}">
                <li>
                    <a th:href="@{'?page='+${pageInfo.nextPageable().getPageNumber()}}" aria-label="Next">
                        下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </th:block>

            <li><span th:text="'共'+${pageInfo.getTotalPages()}+'页'"></span></li>
        </ul>
    </div>
</div>

</body>
</html>